<% content_for :title, "kodomo-karute - お子さま一覧" %>

<main class="login-main">
  <h1 class="kid-index">記録するお子さまを選択</h1>

  <ul>
    <% @kids.each do |kid| %>
      <li class="kid-item">
        <%= turbo_frame_tag dom_id(kid) do %>
          <div class="kid-row">
            <%= link_to select_kid_path(kid), class: "kid-link",data: { turbo_frame: "_top" } do %>
              <% if kid.icon.attached? %>
                <%= image_tag url_for(kid.icon), class: "kid-icon", width: 72, height: 72, loading: "lazy" %>
              <% else %>
                <span class="kid-icon">👤</span>
              <% end %>

              <span class="kid-name"><%= kid.name %></span>
            <% end %>

            <%= link_to "編集",
                        edit_kid_path(kid),
                        data: { turbo_frame: "modal" },
                        class: "kid-edit-link" %>
          </div>
        <% end %>
      </li>
    <% end %>
  </ul>

  <div class="form-actions">
    <%= link_to "お子さまを追加する", new_kid_path, class: "login-button" %>
  </div>
</main>
