<% content_for :title, "medical record - お子さま登録" %>

<main class="login-main">
  <%= render "shared/error_messages", object: @kid %>

  <%= form_for(@kid,
               url: kids_path,
               html: { class: "login-form", multipart: true }) do |f| %>

    <!-- 子どもの名前 -->
    <div class="form-group">
      <%= f.label :name, "お子さまの名前" %>
      <%= f.text_field :name, autofocus: true, class: "form-control" %>
    </div>

    <!-- 生年月日 -->
    <div class="form-group">
      <%= f.label :birthday, "生年月日" %>
      <%= f.date_field :birthday, class: "form-control" %>
    </div>

    <!-- アイコン -->
    <div class="form-group">
      <%= f.label :icon, "お子さまのアイコン" %>
      <%= f.file_field :icon,
                        accept: "image/*",
                        class: "form-control" %>
    </div>

    <div class="form-actions">
      <%= f.submit "登録", class: "login-button" %>
    </div>
  <% end %>
</main>
