<div class="auth-wrapper">
  <div class="password-reset-container">
    <h2>パスワード変更</h2>

    <p class="auth-description">
      登録したメールアドレスを入力してください。<br>
      パスワード再設定用のリンクをお送りします。
    </p>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :email, "メールアドレス" %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="actions">
        <%= f.submit "パスワード再設定用のメールを送る", class: "login-button" %>
        <%= link_to "ログインに戻る", new_session_path(resource_name), class: "login-button" %>
      </div>
    <% end %>
  </div>
</div>
