<% content_for :title, "medical record - 症状記録" %>

<main class="login-main">
  <% if @show_start_popup %>
    <div id="start-popup" class="popup">
      <div class="popup-content">
        <p>体調記録をスタートしますか？</p>
        <p class="popup-message">
          お子さまの様子を、少しずつ残していきましょう。<br>
          きっとあとで、あなたの助けになります。<br>
          今日もお疲れさま。
        </p>

        <%= button_to "スタート",
              start_record_kid_reported_symptoms_path(@kid),
              method: :post,
              class: "start-button" %>

        <p class="popup-message">
          ※ 記録しない場合は、上部メニューから他の画面へ移動できます。
        </p>
      </div>
    </div>
  <% end %>

  <div id="reported_symptom_form">
    <%= render "form", kid: @kid, reported_symptom: @reported_symptom %>
  </div>

  <% if @disease_record %>
    <div class="actions">
      <%= button_to "治った！",
            end_update_kid_disease_record_path(@kid, @disease_record),
            method: :patch,
            class: "heal-button" %>
    </div>

    <div class="footer">
      <p>
        <%= @kid.name %> ／
        記録開始日：<%= @disease_record.start_at&.strftime("%Y年%m月%d日") %>
      </p>
    </div>
  <% end %>
</main>
